@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.column-count-3 {
  column-count: 3;
  column-gap: 1rem; /* Adjust the gap as needed */
}

.column-count-3 > div {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  margin-bottom: 1rem; /* Adjust the margin as needed */
}
